* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e6ecf0;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

input, button {
  outline: none;
}

header#main-header {
  height: 46px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.25);
  position: relative;
  z-index: 1;
}

.content {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

header#main-header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

header#main-header nav ul {
  display: flex;
  list-style: none;
}

header#main-header nav ul li{
  display: flex;
  align-items: center;
  
  font-size: 13px;
  color: #667580;

  margin-left: 30px;
}

header#main-header nav ul li:first-child {
  margin-left: 0px;
}

header#main-header nav ul li img {
  margin-right: 7px;
}

header#main-header div.side {
  display: flex;
}

header#main-header div.side input {
  width: 220px;
  border-radius: 16px;
  height: 34px;
  border: 1px solid #e6ecf0;
  background: #f5f8fa;
  padding: 0 30px 0 12px;
  font-size: 12px;
  background: url('/images/search.svg') no-repeat 190px center;
}

header#main-header div.side img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin: 0 15px;
}

header#main-header div.side button {
  height: 34px;
  width: 90px;
  background: #3db9e3;
  
  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  border-radius: 16px;
  font-size: 14px;
  padding: 5px;
  color: #fff;
}

div.banner {
  height: 380px;
  width: 100%;
  background: #3bb9e3;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
}

div.bar {
  height: 59px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.25)

}

div.bar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 285px;
  height: 100%;
}

div.bar ul {
  list-style: none;
  display: flex;
  height: 100%;
}

div.bar ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  position: relative;
}

div.bar ul li.active::after {
  content: '';
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #3bb9e3; 
}

div.bar ul li span {
  color: #667580;
  font-size: 12px;
  font-weight: bold;
}

div.bar ul li strong {
  font-size: 18px;
  color: #667580;
  margin-top: 2px;
}

div.bar ul li.active strong {
  color: #3bb9e3
}

div.bar .actions {
  display: flex;
  align-items: center;
}

div.bar .actions button {
  height: 34px;
  width: 90px;
  background: #fff;
  
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #3db9e3;
  border-radius: 16px;
  font-size: 14px;
  padding: 5px;
  color: #3db9e3;

  margin-right: 20px;
}

div.wrapper-content {
  display: flex;
}

div.wrapper-content aside.profile {
  width: 260px;
}

div.wrapper-content aside.profile img.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-top: -130px;
}

div.wrapper-content aside.profile h1 {
  font-size: 21px;
  color: #1f2226;
  margin-top: 10px;
}

div.wrapper-content aside.profile span {
  font-size: 14px;
  color: #53626c;
}

div.wrapper-content aside.profile p {
  font-size: 14px;
  color: #1f2226;
  margin-top: 15px;
}

div.wrapper-content aside.profile ul {
  margin-top: 20px;
  list-style: none;
}

div.wrapper-content aside.profile li{
  margin-top: 5px;
  color: #53626c;

  display: flex;
  align-items: center;
}

div.wrapper-content aside.profile ul.list li:first-child {
  margin-top: 0;
}

div.wrapper-content aside.profile ul.list li img {
  margin-right: 10px;
}

div.wrapper-content aside.profile .widget {
  margin-top: 20px;
}

div.wrapper-content aside.profile .widget strong {
  font-weight: normal;
  color: #3bb9e3;
  font-size: 14px;
  display: flex;
  align-items: center;
}

div.wrapper-content aside.profile .widget strong img {
  margin-right: 5px;
}

div.wrapper-content aside.profile .followers ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}

div.wrapper-content aside.profile .images ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}


div.wrapper-content aside.profile .followers ul li{
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #D0d5d9;
  flex-shrink: 0;
  flex: 1 0 auto;
  margin: 0 5px 10px 0;
}

div.wrapper-content aside.profile .images ul li{
  width: 80px;
  height: 80px;
  background: #D0d5d9;
  flex: 1 0 auto;
  flex-shrink: 0;
  margin: 0 5px 5px 0;
}

div.wrapper-content aside.timeline {
  flex: 1;
  background: #fff;
  margin: 10px 20px;
}

div.wrapper-content aside.timeline nav {
  border-bottom: 1px solid #e6ecf0;
  padding: 10px 15px;
}

div.wrapper-content aside.timeline nav a {
  text-decoration: none;
  font-size: 18px;
  color: #3bb9e3;
  font-weight: bold;
  margin-left: 20px;
}
div.wrapper-content aside.timeline nav a:first-child {
  margin-left: 0
}

div.wrapper-content aside.timeline nav a.active {
  color: #1f2226;
}

div.wrapper-content aside.timeline ul.tweets {
  margin-top: 10px;
}

div.wrapper-content aside.timeline ul.tweets li {
  display: flex;
  margin: 0 10px;
  border-bottom: 1px solid #ccd6dd;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

div.wrapper-content aside.timeline ul.tweets li > img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 10px;
}

div.wrapper-content aside.timeline ul.tweets li .info {
  display: flex;
  flex-direction: column;
}

div.wrapper-content aside.timeline ul.tweets li .info strong {
  font-size: 14px;
  color: #1f2226;
}

div.wrapper-content aside.timeline ul.tweets li .info strong span{
  font-size: 13px;
  color: #7b8b9a;
  font-weight: normal;
}

div.wrapper-content aside.timeline ul.tweets li .info p {
  font-size: 14px;
  color: #1f2226;
  margin-top: 5px;
}

div.wrapper-content aside.timeline ul.tweets li .info .actions {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

div.wrapper-content aside.timeline ul.tweets li .info .actions a {
  margin-left: 30px;
  text-decoration: none;
  color: #667580;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}

div.wrapper-content aside.timeline ul.tweets li .info .actions a:first-child {
  margin-left: 0;
}

div.wrapper-content aside.timeline ul.tweets li .info .actions a img {
  margin-right: 10px;
}

div.wrapper-content aside.widgets {
  width: 290px;
  margin-top: 10px;
}

div.wrapper-content aside.widgets .widget {
  background: #fff;
  padding: 15px;
}

div.wrapper-content aside.widgets .widget .title{
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

div.wrapper-content aside.widgets .widget .title strong{
  font-size: 18px;
  color: #1f2226;
  margin-right: 5px;
}

div.wrapper-content aside.widgets .widget .title a {
  font-size: 12px;
  color: #3bb9e3;
  margin-right: 5px;
  text-decoration: none;
  position: relative;
  padding-left: 10px;
}

div.wrapper-content aside.widgets .widget .title a::before {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  background: #222;
  position: absolute;
  left: 0px;
  top: 5px;
}

div.wrapper-content aside.widgets .follow ul{
  list-style: none;
  margin-top: 10px;
}

div.wrapper-content aside.widgets .follow ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccd6dd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

div.wrapper-content aside.widgets .follow ul li:last-child {
  margin-top: 0;
  padding-bottom: 0;
  border: 0;
}

div.wrapper-content aside.widgets .follow ul li .profile {
  display: flex;
  align-items: center;
}

div.wrapper-content aside.widgets .follow ul li .profile img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

div.wrapper-content aside.widgets .follow ul li .profile .info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

div.wrapper-content aside.widgets .follow ul li .profile .info strong {
  font-size: 14px;
  color: #1f2226
}

div.wrapper-content aside.widgets .follow ul li .profile .info strong span{
  font-size: 12px;
  font-weight: normal;
  color: #9a9a9a;
}

div.wrapper-content aside.widgets .follow ul li .profile .info button {
  height: 27px;
  width: 90px;
  background: #fff;
  
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #3db9e3;
  border-radius: 16px;
  font-size: 14px;
  padding: 5px;
  color: #3db9e3;

  margin-top: 4px;
}

div.wrapper-content aside.widgets .follow ul li > a {
  text-decoration: none;
  color: #ccd6dd;
  font-size: 14pxl
}